

/* general fonts settingy */

body {
  font-weight: normal;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #005580;
  text-align: center;
}
h1 {
  font-family: 'Special Elite', cursive;
  font-size: 3em;
  font-weight: bolder;
  font-style: normal;
  color: #005580;
  text-shadow: 2px 2px 10px white !important;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  font-weight: bolder;
  font-style: normal;
  color: #005580;
  position: relative;
  text-shadow: 2px 2px 10px white !important;
  text-align: center;
  padding: 0px;
  margin: 20px;
}

h3 {
 font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 10px white !important;
}

h4 {
  font-size: 1.5 rem;
  padding: 10px 0px
}

/* navbar */

.navbar { 
  background-color: #004465;
  font-size: 18px;
  color: white !important;
  text-decoration: none;
  height: 150px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
}  

.container-fluid {
  margin: 10px;
}

.navbar-light .navbar-brand {
  font-family:'Special Elite', cursive;
  font-size: 2.5em;
  font-weight: bolder;
  font-style: normal;
  color: white !important;
  text-shadow: 2px 2px 5px white !important;
  text-align: center;
  text-decoration: none;
  line-height: 1.0;
  background-color: #005580;
  height: 105px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
}

.active {
  color:  white;
  background-color: #005580;
  border: 1px solid white;
  border-width: 1px 1px;
  box-shadow: 1px 1px 1px 1px white;
}
.navbar-light .navbar-nav .nav-link {
  color:  white !important;
  text-decoration: none; 
  padding: 10px;
  margin: 10px; 
}
.nav-link:hover, :visited {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  border: 1px solid white;
  border-width: 1px 1px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #005580;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28245, 245, 245, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
  border: 1px solid white;
  background-color: #004465;
  
}
.navbar-toggler:focus {
  text-decoration: none;
  box-shadow: 1px 1px 1px white;
}
.navbar-toggler {
 border: 1px solid white;
}
.navbar-collapse {
  background-color: #005580;
  min-height: 105px;
  box-shadow: 0px 1px 9px -1px black;
}


/* home section */
.bg-image {
  background: url('images/SingleCup.jpg');
  background-color: #EDD1B3;
  min-height:100vh;
  background-size:cover;
  background-position:center center;
  background-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.home-section {
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home p {
  text-align: center;
}


/* about us section */

.container {
  padding: 10px;
}

.container p {
  text-align: justify;
  padding: 5px;
  font-weight: normal;
}

    /* responsive <p>-margins */
    /*@media screen and (max-width: 1050px) {
      div.about-section  {
        width: 100%;
      }
    }
    @media screen and (max-width: 1050px) {
      div.about-section {
        margin: 10px 100px;
      }
    }
    @media screen and (min-width: 1051px) {
      div.about-section {
        margin: 5px 20px;
      }
    }*/


/* menu section */

.fa-seedling {
  color: green;
  padding: 0;
  margin: 0;
}

.fa-g {
  color: brown;
  padding: 0;
  margin: 0;
}
.menu-main-header {
  margin: 50px 0px 10px 0px;
}

.menu-box {
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
  height: auto;
  margin: 20px 0px;
  padding: 10px 5px;
}

.menu-section {
  padding: 5px;
}

.menu-section h3 {
  padding: 10px;
  color: #004465;
}

.menu-section .row p {
  text-align: center;
  padding: 5px;
  font-weight: normal;
}
.menu-header {
  color: white !important;
  text-align: center;
  text-decoration: none;
  line-height: 1.0;
  background-color: #005580;
  /*background-color: white;
  color: #004465;*/
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
  padding: 10px;
  margin: 10px;
}

.menu-header h4 {
  font-weight: bolder;
}

.menu-content {
  background-color: white;
  color: #004465;
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
  padding: 10px;
  margin: 10px;
}

.menu-content ul {
  list-style-type:none
}
.menu-content li {
  padding: 5px 1px;
  margin: 0px
}
.menu-content p {
  font-style: oblique;
  font-size: 14px;
  padding: 5px 1px;
  margin: 0px;
}

.drink-column {
  min-height: auto;
}

.food-columns-1-2 {
  min-height: auto;
}
.food-columns-3-4 {
  min-height: auto;
}
  /* footer */
.footer {
  align-items: center;
  background-color:#004465;
  font-size: 14px;
  text-align: left;
  /*text-decoration: none !important;*/
  color: white !important;
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
  padding: 10px /*25px 10px 25px*/;
  margin: 10px;
}
.footer h3 {
  font-size: 18px;
  font-weight: bolder;
  padding: 1px;
  margin: 1px;
  text-shadow: 2px 2px 5px black !important;
  }

.grid-container {
  display: grid;
  grid: auto / 20px auto;
  grid-gap: 10px;
  background-color: #005580;
  padding: 2px;
  column-gap: 5px;
  row-gap: 5px;
  min-height: 220px;
  min-width: 210px;
  overflow: hidden;
  box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.85);
}
.grid-container > div {
  padding: 2px;
  margin: 2px 5px 2px 5px;
}

    /* responsive footer*/
   /* @media screen and (max-width: 1050px) {
      .widget  {
        width: 100%;
      }
    }*/
        /* If the screen size is 1050px wide or less*/
    /*@media screen and (max-width: 1050px) {
      div.grid-container {
        font-size: 16px;
      }
      div.widget-header > h3 { 
        font-size: 20px;
      }
    }*/
        /* If the screen size is 1051px wide or more */
    /*@media screen and (min-width: 1051px) {
      div.grid-container {
        font-size: 14px;
      }*/

      div.widget-header > h3 { 
    font-size: 18px;
  }

.widget {
  margin: 5px;
}
.widget-header, .widget-content {
  padding: 5px;
  margin: 5px;
}
.fa-solid {
  padding: 2px;
  margin: 2px;
  text-decoration: none;
}
.fa-brands {
  padding: 2px;
  margin: 2px;
  text-decoration: none;
}
.footer.a:hover {
  text-decoration: none !important;
  color: white !important;
}







