/*box-sizing: border-box;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: transparent;
    margin: 0;
    padding: 14px 16px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
   }
  /* Style the topnav right */
  .topnav a {
    float: right;
    border-left: 1px solid transparent;
    display: block;
    color: #005580;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #005580;
  }
  .active {
    background-color: #005580;
    color: whitesmoke;
    }
  
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .stickyimage
    {
    background-image: url("images/Rooftop/Rooftop1.jpeg");
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 80px;
    }
  
    h1 {
    text-align: center; color:whitesmoke;
    text-decoration-style: solid;
    }
  .sub-heading {
    text-align: center; color:whitesmoke;
    }*/ 
  


    /*box-sizing: border-box;
  }
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: transparent;
    margin: 0;
    padding: 14px 16px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
   }
/* Style the topnav right */
.topnav a {
    float: right;
    border-left: 1px solid transparent;
    display: block;
    color: #005580;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: #005580;
  }
  .active {
    background-color: #005580;
    color: whitesmoke;
    }

  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
.stickyimage
    {
    background-image: url("images/Rooftop/Rooftop1.jpeg");
    background-color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-right: 30px;
    padding-bottom: 100px;
    padding-left: 80px;
    }

    h1 {
    text-align: center; color:whitesmoke;
    text-decoration-style: solid;
    }
.sub-heading {
    text-align: center; color:whitesmoke;
    }*/ 
